body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.container {
  background-color: #ddd;
  margin: 10px;
  padding: 10px;
}
.item {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
}

.p-relative {
  background-color: #cfc;
  position: sticky;
  top: 0px;
}
.p-fixed {
  position: fixed;
  background-color: #fcc;
  top: 0px;
  right: 0px;
  width: 30%;
}

.ft-left {
  background-color: #fcc;
  float: left;
  width: 25%;
}
.ft-right {
  background-color: #cfc;
  float: right;
  width: 25%;
}

.c-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.c-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c-flex > .item {
  width: 400px;
  flex-grow: 1;
}